<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">Datos Responsable del alumno / Tutor</div>
    <div class="panel-body">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
            <%= simple_form_for @guardian, url: students_path, wrapper: :horizontal_form, html:{class: "form-horizontal"}  do |f| %>
              <%= f.input :dni, wrapper: "horizontal_dni_search" do %>
                <%= f.input_field :dni, class: "form-control input-sm"%>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></button>
                </span>
              <%end%>
              <%= f.input :p_lastname %>
              <%= f.input :m_lastname %>
              <%= f.input :first_name %>
              <%= f.input :email %>
              <%= f.input :address%>
              <%= f.input :phone%>
              <%= f.simple_fields_for :students do |s|%>
                <%= render 'student_fields', f: s%>
              <%end%>
              <div class="form-group form-button">
                <div class="col-sm-9 col-sm-offset-3">
                  <%= link_to_add_fields "Agregar Alumno", f, :students %>
                  <%= f.submit 'Guardar', class: "btn btn-sm btn-success" %>
                  <%= link_to 'Cancelar',root_path, class: "btn btn-sm btn-danger" %>
                </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>