<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">Reporte de alumnos</h2>
    <!-- Zero Configuration Table -->
    <div class="panel panel-default">
      <div class="panel-heading">Alumnos</div>
      <div class="panel-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
          <div class="col-sm-6">
            <form class="form-inline" action="/students">
              <div class="form-group">
                <label for="exampleInputName2">D.N.I.</label>
                <input name="dni" type="text" class="form-control input-sm">
              </div>
              <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
            </form></div>
          </div>
          <div class="hr-dashed"></div>
          <div class="row">
            <div class="col-sm-12">
              <table style="width: 100%;" role="grid" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th style="width: 147px;" colspan="1" rowspan="1" class="sorting">D.N.I.</th>
                    <th style="width: 243px;" colspan="1" rowspan="1" class="sorting">Alumno</th>
                    <th style="width: 105px;" colspan="1" rowspan="1" class="sorting">Grado</th>
                    <th style="width: 50px;" colspan="1" rowspan="1" class="sorting">Estado</th>
                    <th style="width: 50px;" colspan="1" rowspan="1" class="sorting"></th>
                  </tr>
                </thead>
                <tbody>
                <% @students.each do |student|%>
                  <tr class="odd" role="row">
                    <td><%= student.dni%></td>
                    <td><%= student.full_name%></td>
                    <td><%= student.current_period_enrollment.try(:section).try(:route_name)%></td>
                    <td>
                      <% if student.current_period_enrollment.try(:state)%>
                        <%= student.current_period_enrollment.state==0 ? "Reservado" : "Matriculado" %>
                      <%end%>
                    </td>
                    <td><%= link_to "Detalle", student_path(student), class: "btn btn-primary btn-sm"%></td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>