<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">Reporte de pagos</h2>
    <!-- Zero Configuration Table -->
    <% @guardian.students.each do |student|%>
    <div class="panel panel-default">
      <div class="panel-heading">Pagos hechos para : <%= student.full_name -%></div>
      <div class="panel-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-sm-12">
              <table style="width: 100%;" role="grid" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th style="width: 147px;" colspan="1" rowspan="1" class="sorting">Concepto</th>
                    <th style="width: 243px;" colspan="1" rowspan="1" class="sorting">Monto</th>
                    <th style="width: 105px;" colspan="1" rowspan="1" class="sorting">Numero operacion</th>
                    <th style="width: 105px;" colspan="1" rowspan="1" class="sorting">Fecha de pago</th>
                  </tr>
                </thead>
                <tbody>
                <% student.payments.where('op_code is not null').each do |payment|%>
                  <tr class="odd" role="row">
                    <td><%= payment.payment_type.name%></td>
                    <td><%= payment.payment_type.amount%></td>
                    <td><%= payment.op_code%></td>
                    <td><%= payment.op_date%></td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>