<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">Reporte de notas</h2>
    <!-- Zero Configuration Table -->
    <%@students.each do |student|%>
    <div class="panel panel-default">
      <div class="panel-heading">Notas de : <%= student.full_name%></div>
      <div class="panel-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-sm-12">
              <table style="width: 100%;" role="grid" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th style="width: 147px;" colspan="1" rowspan="1" class="sorting">Curso</th>
                    <th style="width: 50px;" colspan="1" rowspan="1" class="sorting">1ยบ Bimestre</th>
                    <th style="width: 50px;" colspan="1" rowspan="1" class="sorting">2ยบ Bimestre</th>
                    <th style="width: 50px;" colspan="1" rowspan="1" class="sorting">3ยบ Bimestre</th>
                    <th style="width: 50px;" colspan="1" rowspan="1" class="sorting">4ยบ Bimestre</th>
                    <th style="width: 50px;" colspan="1" rowspan="1" class="sorting">Prom. Final</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td>Promedio por bimestre</td>
                    <% @bimesters.each do |b|%>
                    <td>
                      <%= StudentGrade.where(period_id: b.id, student_id: student.id).average(:score)%>
                    </td>
                    <%end%>
                    <td><%= StudentGrade.where(period_id: [7,8,9,10], student_id: student.id).average(:score)%></td>
                  </tr>
                </tfoot>
                <tbody>
                <% student.sections.where("enrollments.period_id = 6").first.courses.each do |course|%>
                  <tr class="odd" role="row">
                    <td><%= course.name%></td>
                    <% @bimesters.each do |b|%>
                    <td>
                      <%= StudentGrade.where(period_id: b.id, student_id: student.id, programmed_section_id: 1).average(:score)%>
                    </td>
                    <%end%>
                    <!-- <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td> -->
                    <!-- <%# Period.current_bimesters.each do |b|%>
                    <td>
                      <%#= StudentGrade.where(period_id: b.id, student_id: student.id, programmed_section_id: 1).average(:score%>
                    </td>
                    <%#end%> -->
                    <td>
                      <%= StudentGrade.where(period_id: [7,8,9,10], student_id: student.id, programmed_section_id: 1).average(:score) %>
                    </td>
                  </tr>
                <%end%>
                  <!-- <tr class="odd" role="row">
                    <td>Matematica</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                  <tr class="odd" role="row">
                    <td>Lenguaje</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                  <tr class="odd" role="row">
                    <td>Arte</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>